# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_MAUSI

config ZMK_KEYBOARD_NAME
    default "Mausi"

config ZMK_POINTING
	default y

config I2C
	default y

config INPUT_AZOTEQ_IQS5XX
	default y

endif
